<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<header>
		<h1 id="welcome">Welcome to the Luxury</h1>
		<span><%= link_to 'Login', users_login_path, class: 'register' %></span>
	</header>
	<%= render 'form' %>
</body>
</html>