<header>
  <h1> Blgo. <br> Habiat for the best blog posts  </h1>
</header>


<ol>
<% @posts.each do |d| %>
  <li> <%= d.title %> => <%=link_to "See Whole Post", post_path(d)%></li>
<%end%>
</ol>

<nav><%= link_to "Create new Blgo Post", new_post_path %></nav>


